
#bg{
	width: 100%;
	z-index:-1;
	position: absolute;
	left: 0;
	top: 0;
	height: 120%;
}

.rover-prop{
	text-align: center;
	color: white;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	left: 18%;
	top: 3%;
	width: 18%;
	height: 70vh;
}


.rover{
	transition-timing-function: ease-in;
	position: absolute;
	width: 30%;
	top: 30%;
}
#rover17{
	left: -50%;
}
#rover18{
	left: 50%;
}
#rover19{
	left: 150%;
}
.rover-prop{
	overflow: hidden;
	position: absolute;
	top:10%;
}
.rover-prop div{ /*------ #rover17-prop, #rover18-prop, #rover19-prop -------*/
	width: 100%;
	height: inherit;
	padding: 15% 10%;
}
#rover17-prop, #rover19-prop{
	display: none;
}


.btn-container{
	width: 33%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	position: absolute;
	left: 33%;
	top: 84%;
}
.btn-container img{
	width: 120px;
	margin-bottom: 10px;
	opacity: 0.5;
}
.btn-container img:hover{
	opacity: 1.0;
	transition: 0.5s;
}
.btn-container div div{
	text-align: center;
	margin: auto;
	width: 50px;
	border-top: 5px solid white;
	font-size: 16pt;
	color: white;
}



@media screen and (max-width: 968px) {
	.rover-prop{
		width: 100%;
		height: 76%;
		left: 0;
		top:10%;
		border-top: 4px solid black;
		border-bottom: 4px solid black;
	}
	.rover{
		width: 65%;
		height: 35%;
		top: 45%;
	}
	.rover-prop div{ /*------ #rover17-prop, #rover18-prop, #rover19-prop -------*/
		width: 100%;
		height: 100%;
		padding: 5%;
	}
	.rover-prop div p{
		font-size: 14pt;
	}
	#rover17{
		left: -100%;
	}
	#rover18{
		left: 12%;
	}
	#rover19{
		left: 200%;
	}

	.btn-container{
		width: 100%;
		left: 0;
		top: 88%;
	}
	.btn-container div{
		display: flex;
	}
	.btn-container img{
		width: 85px;
		opacity: 1;
	}
	.btn-container div div{
		font-size: 16pt;
		border-top: none;
		height: 100%;
		margin-left: 9px;
		padding-left: 9px;
		border-left :2px solid white;
	}

}
