{% load static %}<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="{% block description %}İTÜ Rover Takımı, İstanbul Teknik Üniversitesi bünyesindeki çeşitli fakültelerden bir araya gelmiş, farklı disiplinlerden öğretilere sahip, daha önceden birçok başarılı projelere imza atmış tecrübeli, meraklı ve çalışkan öğrencilerden oluşmaktadır.{% endblock description %}" name="description" />
    <meta content="#d7d8d9" name="theme-color" />
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" />
      <link rel="stylesheet" href="{% static 'css/new/base.css' %}">
    <script src="{% static 'js/new/jquery-3.4.1.min.js' %}"></script>
    <title>{% block title %}İTÜ Rover Takımı{% endblock title %}</title>


    {% block css %}    {% endblock css %}
  </head>

  <body>

  <!----------------NAVBAR PART------------------------->

  {% include "navbar_new.html" %}


  <!------------------CONTENT--------------------->
  <div class="content">
      <div class="section" id="_1">{% include "first.html" %}</div>

      <div class="section" id="_2">{% include "second.html" %}</div>

      <div class="section" id="_3">{% include "third.html" %}</div>
  </div>

  <!--------------UP DOWN BUTTON CONTAINER-------------->
  <div class="up-down-z">
    <div class="up-down-container">
        <div class="up-down-btn">
            <div id="first-btn"><p>Roverlarımız</p></div>
            <div id="second-btn"><p>Sponsorlarımız</p></div>
            <div id="third-btn"><p>Takım Üyeleri</p></div>
            <div id="fourth-btn"><p>Sıkça Sorulan Sorular</p></div>
            <div id="fifth-btn"><p>Geçmişimiz</p></div>
            <div id="sixth-btn"><p></p></div>
        </div>
    </div>
  </div>
    <!--<div id="content">-->
      {% block body %}{% endblock body %}
    <!--</div>-->



    {% block javascript %}
        <script src="{% static 'js/new/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/new/base.js' %}"></script>
    <!--
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="https://use.fontawesome.com/a92223afb3.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.bcswipe.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    -->
    {% endblock javascript %}

    {% block jquery %}
    {% endblock jquery %}
  </body>
</html>
