{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/new/navbar_new.css' %}">
{% endblock %}


<nav>
    <div class="inner-nav">

        <img style=" height: 60px;" src="{% static "img/itu_rover_white.png" %}">

        <div>
            <ul class="ul-left">
                <li><a href="#">Takım</a></li>
                <li><a href="#">Rover</a></li>
                <li><a href="#">Sponsorlar</a></li>
                <li><a href="#">Geçmiş</a></li>
                <li><a href="#">İletişim</a></li>
            </ul>

            <ul class="ul-right">
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Linkedin</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Github</a></li>
                <li><a href="#">Youtube</a></li>
            </ul>
        </div>

        <button id="mobile">bas</button>
    </div>
</nav>

{% block javascript %}
{% endblock %}