{% load static %}<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="{% block description %}İTÜ Rover Takımı, İstanbul Teknik Üniversitesi bünyesindeki çeşitli fakültelerden bir araya gelmiş, farklı disiplinlerden öğretilere sahip, daha önceden birçok başarılı projelere imza atmış tecrübeli, meraklı ve çalışkan öğrencilerden oluşmaktadır.{% endblock description %}" name="description" />
    <meta content="#d7d8d9" name="theme-color" />
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" />
      <link rel="stylesheet" href="{% static 'css/new/base.css' %}">
      <link rel="stylesheet" href="{% static 'css/new/second.css' %}">
      <link rel="stylesheet" href="{% static 'css/new/third2.css' %}">
    <script src="{% static 'js/new/jquery-3.4.1.min.js' %}"></script>
    <title>{% block title %}İTÜ Rover Takımı{% endblock title %}</title>


    {% block css %}    {% endblock css %}
  </head>

  <body>

  <!----------------NAVBAR PART------------------------->

  {% include "navbar_new.html" %}


  <!------------------CONTENT--------------------->
  <div id="_1" style="position: relative; top: 0; left:0; width: 100%; height: 100%;">

<img src="{% static 'img/3.jpg' %}" id="bg3">

<div class="members-container">
<div class="adv-lead-container">
    <div class="adv-container">
        <h1>Takım Danışmanı</h1>
        <hr style="border: 1px solid white; margin-bottom: 10px;">
        {% for advisor in advisors %}
            {% include 'pieces/person.html' with person=advisor %}
        {% endfor %}
    </div>

    <div class="leader-container">
        <h1>Takım Lideri</h1>
        <hr style="border: 1px solid white; margin-bottom: 10px;">
        {% if leader %}
            {% include 'pieces/person.html' with person=leader %}
        {% endif %}
    </div>
</div>

    {% for subteam in subteams %}
        <div class="members-inner">
            <h1>{{ subteam.name }}</h1>
            <hr style="border: 1px solid white; margin-bottom: 10px;">
            {% for member in subteam.members.all %}
                {% include 'pieces/person.html' with person=member %}
            {% endfor %}

        </div>
    {% endfor %}
</div>
  </div>


<div id="_2" style="position: relative; top: 0; left:0; width: 100%; height: 100%;">
<img src="{% static 'img/3.jpg' %}" id="bg2">

        <div class="sponsorship-container">
        <div class="id-container" id="container">
        {% for sponsor_type in sponsor_types %}
            <div class="types-container">
                <h1 class="ship-name">{{ sponsor_type.name }} Sponsorlar</h1>
                <div class="sponsors-container">
                    {% for sponsor in sponsor_type.sponsors.all %}
                        <div class="sponsor">
                            <img src="{{ sponsor.image.url }}" width="{{ sponsor.display_width }}px" alt="">
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% empty %}
            <p>Sponsorluk türü yok.</p>
        {% endfor %}
        </div>
        </div>
</div>
  <!--------------UP DOWN BUTTON CONTAINER-------------->
  <div class="up-down-z">
    <div class="up-down-container">
        <div class="up-down-btn">
            <div id="first-btn"><p>Roverlarımız</p></div>
            <div id="second-btn"><p>Sponsorlarımız</p></div>
            <div id="third-btn"><p>Takım Üyeleri</p></div>
            <div id="fourth-btn"><p>Sıkça Sorulan Sorular</p></div>
            <div id="fifth-btn"><p>Geçmişimiz</p></div>
            <div id="sixth-btn"><p></p></div>
        </div>
    </div>

    <!--<div id="content">-->
      {% block body %}{% endblock body %}
    <!--</div>-->



    {% block javascript %}
        <script src="{% static 'js/new/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/new/oldyears.js' %}"></script>
    <!--
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="https://use.fontawesome.com/a92223afb3.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.bcswipe.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    -->
    {% endblock javascript %}

    {% block jquery %}
    {% endblock jquery %}
  </body>
</html>
