{% load static %}

{% block css %}
{% endblock %}
<!--  -->
<link rel="stylesheet" href="{% static 'css/new/third.css' %}">

<div style="position: absolute; top: 100%; left:0; width: 100%; height: 100%;">
<img src="{% static 'img/3.jpg' %}" id="bg3">

<div class="members-container">
<div class="adv-lead-container">
    <div class="adv-container">
        <h1>Takım Danışmanı</h1>
        <hr style="border: 1px solid white; margin-bottom: 10px;">
        {% for advisor in advisors %}
            {% include 'pieces/person.html' with person=advisor %}
        {% endfor %}
    </div>

    <div class="leader-container">
        <h1>Takım Lideri</h1>
        <hr style="border: 1px solid white; margin-bottom: 10px;">
        {% if leader %}
            {% include 'pieces/person.html' with person=leader %}
        {% endif %}
    </div>
</div>

    {% for subteam in subteams %}
        <div class="members-inner {% if 'Lider' in member.role %}order-0{% else %}order-1{% endif %}">
            <h1>{{ subteam.name }}</h1>
            <hr style="border: 1px solid white; margin-bottom: 10px;">
            {% for member in subteam.members.all %}
                {% include 'pieces/person.html' with person=member %}
            {% endfor %}

        </div>
    {% endfor %}
</div>
</div>

{% block body %}

{% block javascript %}
    <script src="{% static "js/new/oldyears.js" %}"></script>
{% endblock %}


{% endblock %}
