{% load static %}

{% block css %}
      <link rel="stylesheet" href="{% static 'css/new/third.css' %}">
{% endblock %}

<img src="{% static 'img/3.jpg' %}" id="bg3">

    {% for faq in faq %}
      <!----------------- the right one is the name of the application. Left one is used for associating the questions and answers-->
      <div class="row justify-content-start">
        <div class="col-md-4">
          <h4 class="font-thick text-right">{{ faq.question}}</h4>
        </div>
        <div class="col-md-8 text-big">
          <blockquote>
            {{ faq.answer }}
          </blockquote>
        </div>
        <hr>
      </div>
      {% empty %}
      <div class="row"><div class="col-12"><p class="text-big text-center">Buraya İTÜ Rover Takımı hakkında henüz bir şey yazılmadı.</p></div></div>
      {% endfor %}

{% block body %}

{% block javascript %}
    <script src="{% static "js/new/third.js" %}"></script>
{% endblock %}


{% endblock %}
